/* *********************************Grey Qo********************************* */

@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AR:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Grey Qo", cursive; */

/* *********************************PT Sans********************************* */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "PT Sans", sans-serif; */

* {
    text-transform: capitalize !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
}

header-1 {
    width: 100vh !important;
    background-color: black !important;
}

nav {
    background-color: black !important;
}

nav img {
    width: 70%;
}

nav a {
    color: white !important;
}

.navbar-nav li {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 15px;
}

/* .nav-link{
    margin-top: 23px;
} */

form button {
    padding-left: 25px;
    padding-right: 25px;
    width: 7.5rem;
}

.btn {
    padding: 15px;
    border-radius: 25px;
}

button i {
    margin-left: 5px;
}

/* *********************************section 2********************************* */

/* *********************************section 3********************************* */

.box {
    background-color: black;
    color: white;
    height: 25vh;
}

.box-item p {
    font-size: 1.2rem;
}

.box-item span{
    font-family: "Grey Qo", cursive;
    font-weight: 900;
    font-size: 2.5rem;
}

.box-footer{
    color: rgb(132, 132, 132);
    font-size: 0.8rem !important;
}

/* ***********************************card*********************************** */

.main-box{
    background-color: black;
    height: 45vh;
}

.box-card{
    background-color: black;
    color: white;
    width: 26vw;
    height: 35vh;
}

.card{
    width: 25vw;
    height: 140px;
}

.box-card img{
    background-color: white;
}

.card-body button{
    margin-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
}

/* ***************************** franchise # 01 **************************** */

.franchise-section-01{
    background-color: rgb(15, 15, 15);
    color: white;
    height: 50vh;
}

.franchise-section-01 h1{
    font-family: "Grey Qo", cursive;
    font-weight: 900;
    font-size: 3.5rem;
}

.franchise-section-01 p{
    color: rgb(176, 176, 176);
}

.container-sm{
    width: 80vw;
}